/* header */
@import url("https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&display=swap");

*,
*:after,
*:before {
  box-sizing: border-box;
}

:root {
  --header-outer-height: 110px;
  --header-inner-height: 70px;
  --header-height-difference: calc(
    var(--header-outer-height) - var(--header-inner-height)
  );
  --header-bg: #ffffff7c;
}

body {
  width: 100%;
  height: 100%;
  /* Add your background pattern here */
  background-color: #ffffff;
  background-image: radial-gradient(rgba(12, 12, 12, 0.171) 2px, transparent 0);
  background-size: 30px 30px;
  background-position: -5px -5px;
}

.responsive-wrapper {
  width: 90%;
  max-width: 1280px;
  margin-left: auto;
  margin-right: auto;
}

/* Sticky header */
.header-outer {
  /* Make it stick */
  height: var(--header-outer-height);
  position: sticky;
  top: calc(
    var(--header-height-difference) * -1
  ); /* Multiply by -1 to get a negative value */
  display: flex;
  align-items: center;

  /* Other */
  background-color: var(--header-bg);
  box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.1);
  position: sticky;
  z-index: 1;
}

.header-inner {
  /* Make it stick */
  height: var(--header-inner-height);
  position: sticky;
  top: 0;

  /* Other */
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* Styling of other elements */
.header-logo img {
  display: block;
  height: 75px;
}

.header-navigation {
  /* display: flex; */
  flex-wrap: wrap;
  color: rgb(161, 7, 192);
}

.header-navigation a {
  font-size: 1.125rem;
  color: inherit;
  margin-left: 10rem;
  position: relative;
  font-weight: 500;
  font-family: sans-serif;
}

.header-navigation a {
  display: none;
  font-size: 1.125rem;
  color: inherit;
  text-decoration: none;
  /* position: relative; */
}

/* .header-navigation button {
  border: 0;
  background-color: transparent;
  padding: 0;
} */

.header-navigation a:hover:after {
  transform: scalex(1);
}

.header-navigation a:after {
  transition: 0.25s ease;
  content: "";
  display: block;
  width: 100%;
  height: 2px;
  background-color: currentcolor;
  transform: scalex(0);
  position: absolute;
  bottom: -2px;
  left: 0;
}

.main {
  margin-top: 3rem;
}

.widget1 {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  width: 100%;
  box-shadow: 0 15px 30px rgba(0, 0, 0, 0.575);
  background-color: #dddddd;
  /* padding: 0.5rem; */
  font-size: 1.125rem;
}

.widget1 > * + * {
  margin-top: 1.25em;
}

.widget1 h2 {
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 1.25;
}

.widget1 code {
  display: inline-block;
  padding: 0.125em 0.25em;
  border-radius: 2px;
  background-color: #bee5d3;
}

.widget1 strong {
  font-weight: 700;
}

@media (min-width: 800px) {
  .header-navigation a {
    display: inline-block;
  }

  /* .header-navigation button {
    display: none;
  } */
}
/* join button */
button {
  padding: 17px 40px;
  border-radius: 50px;
  border-color: hsl(261deg 80% 48%);
  margin-left: 7pc;
  cursor: pointer;
  background-color: white;
  box-shadow: rgb(0 0 0 / 5%) 0 0 8px;
  letter-spacing: 1.5px;
  text-transform: uppercase;
  font-size: 15px;
  font-weight: bold;

  transition: all 0.5s ease;
}

button:hover {
  letter-spacing: 3px;
  background-color: hsl(261deg 80% 48%);
  color: hsl(0, 0%, 100%);
  box-shadow: rgb(93 24 220) 0px 7px 29px 0px;
}

button:active {
  letter-spacing: 3px;
  background-color: hsl(261deg 80% 48%);
  color: hsl(0, 0%, 100%);
  box-shadow: rgb(93 24 220) 0px 0px 0px 0px;
  transform: translateY(10px);
  transition: 100ms;
}

/* welcome image */
.welcome-img {
  /* image-resolution: 10%; */
  /* height: 199px; */
  /* width: 100px; */
  /* margin-left: 200px; */
}

/* stat card */
.card {
  /* margin-left: pc; */
  margin: auto;
  width: 500px;
  /* background: #fff480; */
  color: black;
  position: relative;
  border-radius: 2.5em;
  /* padding: 2em; */
  transition: transform 0.4s ease;
}

.card .card-content h1 {
  /* align-items: right; */
  /* display: flex; */
  /* flex-direction: column; */
  justify-content: space-between;
  gap: 5em;
  height: 100%;
  transition: transform 0.4s ease;
  color: rgb(183, 0, 255);
  font-family: sans-serif;
  font-weight: 900;
  font-size: 500%;
  margin-left: 3pc;
}
.card .card-content h2 {
  /* align-items: right; */
  /* display: flex; */
  /* flex-direction: column; */
  /* justify-content: space-between; */
  gap: 5em;
  height: 100%;
  transition: transform 0.4s ease;
  color: rgb(0, 0, 0);
  /* font-family: sans-serif; */
  font-family: Arial, Helvetica, sans-serif;
  /* font-weight: 800; */
  font-size: 400%;
  margin-left: 3pc;
  transform: translateY(-90px);
}

.card .card-top,
.card .card-bottom {
  display: flex;
  justify-content: space-between;
}

.card .card-top p,
.card .card-top .card-title,
.card .card-bottom p,
.card .card-bottom .card-title {
  margin: 0;
}

.card .card-title {
  font-weight: bold;
}

.card .card-top p,
.card .card-bottom p {
  font-weight: 600;
}

.card .card-bottom {
  align-items: flex-end;
}

.card .card-image {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  display: grid;
  place-items: center;
  pointer-events: none;
}

.card .card-image svg {
  width: 4em;
  height: 4em;
  transition: transform 0.4s ease;
}

.card:hover {
  cursor: pointer;
  transform: scale(0.97);
}

.card:hover .card-content {
  transform: scale(0.96);
}

.card:hover .card-image svg {
  transform: scale(1.05);
}

.card:active {
  transform: scale(0.9);
}

/* about us */
.about .content h3 {
  /* font-weight: 700; */
  font-size: 32px;
  font-family: sans-serif;
  color: #001f8d;
}

.about .content ul {
  list-style: none;
  padding: 0;
}

.about .content ul li {
  display: flex;
  align-items: flex-start;
  margin-top: 40px;
}

.about .content ul i {
  flex-shrink: 0;
  font-size: 48px;
  color: var(--color-primary);
  margin-right: 20px;
  line-height: 0;
}

.about .content ul h5 {
  font-size: 18px;
  font-weight: 700;
  color: #19335c;
}

.about .content ul p {
  font-size: 15px;
}

.about .content p:last-child {
  margin-bottom: 0;
}

.about .play-btn {
  width: 94px;
  height: 94px;
  background: radial-gradient(
    var(--color-primary) 50%,
    rgba(13, 66, 255, 0.4) 52%
  );
  border-radius: 50%;
  display: block;
  position: absolute;
  left: calc(50% - 47px);
  top: calc(50% - 47px);
  overflow: hidden;
}

.about .play-btn:before {
  content: "";
  position: absolute;
  width: 120px;
  height: 120px;
  animation-delay: 0s;
  animation: pulsate-btn 2s;
  animation-direction: forwards;
  animation-iteration-count: infinite;
  animation-timing-function: steps;
  opacity: 1;
  border-radius: 50%;
  border: 5px solid rgba(13, 66, 255, 0.7);
  top: -15%;
  left: -15%;
  background: rgba(198, 16, 0, 0);
}

.about .play-btn:after {
  content: "";
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translateX(-40%) translateY(-50%);
  width: 0;
  height: 0;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  border-left: 15px solid #fff;
  z-index: 100;
  transition: all 400ms cubic-bezier(0.55, 0.055, 0.675, 0.19);
}

.about .play-btn:hover:before {
  content: "";
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translateX(-40%) translateY(-50%);
  width: 0;
  height: 0;
  border: none;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  border-left: 15px solid #fff;
  z-index: 200;
  animation: none;
  border-radius: 0;
}

.about .play-btn:hover:after {
  border-left: 15px solid var(--color-primary);
  transform: scale(20);
}

@keyframes pulsate-btn {
  0% {
    transform: scale(0.6, 0.6);
    opacity: 1;
  }

  100% {
    transform: scale(1, 1);
    opacity: 0;
  }
}

/* about us */
@import url("https://fonts.googleapis.com/css?family=Raleway:100,200,300,400,500,600,700,800,900&display=swap");
@media screen and (max-width: 799px) {
  .mainNav__icon {
    display: block;
  }
}
.mainHeading {
  width: 100%;
  height: 100%;
  position: relative;
  padding: 0 20px;
  /* background-image: linear-gradient(to top, #accbee 0%, #e7f0fd 100%); */
}
@media screen and (max-width: 799px) {
  .mainHeading {
    padding: 0 20px;
  }
}
.mainHeading__content {
  max-width: 1110px;
  min-height: 600px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}
@media screen and (max-width: 799px) {
  .mainHeading__content {
    min-height: 500px;
  }
}
.mainHeading__text {
  z-index: 1;
  color: #637498;
  background-color: rgba(255, 255, 255, 0.075);
  padding: 40px;
  max-width: 620px;
  margin-top: 100px;
  width: 70%;
  backdrop-filter: blur(8px);
  animation: text 0.8s 0.6s ease backwards;
  font-family: sans-serif;
  position: relative;
}
.mainHeading__text:before {
  content: "";
  position: absolute;
  width: 5px;
  height: 100%;
  background-color: rgba(139, 33, 209, 0.5);
  top: 0;
  left: 0;
  animation: line 0.8s 0.6s ease backwards;
}
@keyframes line {
  0% {
    right: 0;
    width: 100%;
    opacity: 0;
  }
}
@media screen and (max-width: 799px) {
  .mainHeading__text {
    padding: 20px;
    margin: 90px 0 40px 0;
  }
}
@keyframes text {
  0% {
    opacity: 0;
    transform: translateX(200px);
  }
}
.mainHeading__preTitle {
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 2px;
  margin-bottom: 16px;
  color: #1a4dbb;
}
.mainHeading__title {
  text-transform: uppercase;
  font-weight: 200;
  letter-spacing: 2px;
  margin-bottom: 24px;
  font-size: 40px;
  color: #8f3fc4;
}
@media screen and (max-width: 799px) {
  .mainHeading__title {
    margin-bottom: 16px;
    font-size: 28px;
  }
}
.mainHeading__description {
  letter-spacing: 0.5px;
  font-size: 16px;
  line-height: 26px;
}
@media screen and (max-width: 799px) {
  .mainHeading__description {
    font-size: 14px;
  }
}
.mainHeading__image {
  right: 0;
  max-width: 600px;
  width: 100%;
  height: 550px;
  /* transform: translatey(140px); */
  transform: translateX(125px);
  position: absolute;
  overflow: hidden;
  animation: image 0.6s 0.2s ease backwards;
}
@media screen and (max-width: 799px) {
  .mainHeading__image {
    height: 480px;
    width: 70%;
    transform: translatey(80px);
    right: -6%;
  }
}
@keyframes image {
  0% {
    opacity: 0;
    transform: translatey(200px);
  }
}
.mainHeading__image:before,
.mainHeading__image:after {
  content: "";
  position: absolute;
  width: 100%;
  height: 0%;
  top: 100%;
  /* background-image: linear-gradient(to top, #accbee 0%, #e7f0fd 100%); */
  opacity: 1;
  left: 0;
}
.mainHeading__image:before {
  animation: imageBefore 1s 0.2s ease backwards;
}
@keyframes imageBefore {
  0% {
    height: 100%;
    top: 0;
  }
}
.mainHeading__image:after {
  background-image: linear-gradient(to top, #accbee00 0%, #e7f0fd00 100%);
  height: 100%;
  top: 0;
  opacity: 0.2;
}
.mainHeading__image img {
  width: 100%;
  height: 100%;
}
.cta {
  padding: 16px 32px;
  color: #8917d4;
  background-color: transparent;
  border: 1px solid rgba(99, 116, 152, 0.4);
  font-family: sans-serif;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: 600;
  margin-top: 32px;
  cursor: pointer;
  box-shadow: inset 0px 0px 0px rgba(99, 116, 152, 0.2);
  transition: all 0.4s ease;
}
.cta:hover {
  border: 1px solid rgba(99, 116, 152, 0.1);
  box-shadow: inset 0px -80px 0px rgba(99, 116, 152, 0.1);
  transform: translateY(-5px);
}
@media screen and (max-width: 799px) {
  .cta {
    margin-top: 16px;
  }
}

/* why us */

@import url("https://fonts.googleapis.com/css?family=Raleway:100,200,300,400,500,600,700,800,900&display=swap");
@media screen and (max-width: 799px) {
  .mainNav__icon {
    display: block;
  }
}
.mainHeading_2 {
  width: 100%;
  height: 100%;
  position: relative;
  padding: 0 20px;
  /* background-image: linear-gradient(to top, #accbee 0%, #e7f0fd 100%); */
}
@media screen and (max-width: 799px) {
  .mainHeading_2 {
    padding: 0 20px;
  }
}
.mainHeading_2__content {
  max-width: 1110px;
  min-height: 600px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}
@media screen and (max-width: 799px) {
  .mainHeading_2__content {
    min-height: 500px;
  }
}
.mainHeading_2__text {
  z-index: 1;
  color: #637498;
  background-color: rgba(255, 255, 255, 0.2);
  padding: 40px;
  max-width: 620px;
  margin-top: 100px;
  width: 70%;
  backdrop-filter: blur(8px);
  animation: text 0.8s 0.6s ease backwards;
  position: relative;
  margin-left: 50%;
}
.mainHeading_2__text:before {
  content: "";
  position: absolute;
  width: 5px;
  height: 100%;
  background-color: rgba(139, 33, 209, 0.5);
  top: 0;
  left: 0;
  animation: line 0.8s 0.6s ease backwards;
}
@keyframes line {
  0% {
    right: 0;
    width: 100%;
    opacity: 0;
  }
}
@media screen and (max-width: 799px) {
  .mainHeading_2__text {
    padding: 20px;
    margin: 90px 0 40px 0;
  }
}
@keyframes text {
  0% {
    opacity: 0;
    transform: translateX(200px);
  }
}
.mainHeading_2__preTitle {
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 2px;
  margin-bottom: 16px;
  color: #1a4dbb;
}
.mainHeading_2__title {
  text-transform: uppercase;
  font-weight: 200;
  letter-spacing: 2px;
  margin-bottom: 24px;
  font-size: 40px;
  color: #8f3fc4;
}
@media screen and (max-width: 799px) {
  .mainHeading_2__title {
    margin-bottom: 16px;
    font-size: 28px;
  }
}
.mainHeading_2__description {
  letter-spacing: 0.5px;
  font-size: 16px;
  line-height: 26px;
  font-family: sans-serif;
}
@media screen and (max-width: 799px) {
  .mainHeading_2__description {
    font-size: 14px;
  }
}
.mainHeading_2__image {
  right: 0;
  max-width: 600px;
  width: 100%;
  height: 550px;
  /* transform: translatey(140px); */
  transform: translateX(125px);
  position: absolute;
  overflow: hidden;
  animation: image 0.6s 0.2s ease backwards;
  margin-right: 75%;
}
@media screen and (max-width: 799px) {
  .mainHeading_2__image {
    height: 480px;
    width: 70%;
    transform: translatey(80px);
    right: -6%;
  }
}
@keyframes image {
  0% {
    opacity: 0;
    transform: translatey(200px);
  }
}
.mainHeading_2__image:before,
.mainHeading_2__image:after {
  content: "";
  position: absolute;
  width: 100%;
  height: 0%;
  top: 100%;
  /* background-image: linear-gradient(to top, #accbee 0%, #e7f0fd 100%); */
  opacity: 1;
  left: 0;
}
.mainHeading_2__image:before {
  animation: imageBefore 1s 0.2s ease backwards;
}
@keyframes imageBefore {
  0% {
    height: 100%;
    top: 0;
  }
}
.mainHeading_2__image:after {
  background-image: linear-gradient(to top, #accbee00 0%, #e7f0fd00 100%);
  height: 100%;
  top: 0;
  opacity: 0.2;
}
.mainHeading_2__image img {
  width: 100%;
  height: 100%;
}
.cta {
  padding: 16px 32px;
  color: #8917d4;
  background-color: transparent;
  border: 1px solid rgba(99, 116, 152, 0.4);
  font-family: sans-serif;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: 600;
  margin-top: 32px;
  cursor: pointer;
  box-shadow: inset 0px 0px 0px rgba(99, 116, 152, 0.2);
  transition: all 0.4s ease;
}
.cta:hover {
  border: 1px solid rgba(99, 116, 152, 0.1);
  box-shadow: inset 0px -80px 0px rgba(99, 116, 152, 0.1);
  transform: translateY(-5px);
}
@media screen and (max-width: 799px) {
  .cta {
    margin-top: 16px;
  }
}
/* user think */
#myCard .title {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 30px;
  line-height: 42px;
  letter-spacing: -0.015em;

  color: #2c2c2c;
}

#myCard .subtitle {
  /* border: 1px solid #000; */
  margin-top: -10px;
  /* padding: 0px; */

  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 28px;
  letter-spacing: -0.015em;

  color: #2c2c2c;
}

#myCard .text {
  /* border: 1px solid #000; */

  font-size: 18px;
  font-weight: 500;
  font-style: normal;
  font-size: 16px;
  line-height: 22px;
  text-align: center;
  letter-spacing: -0.015em;

  color: #6d6d6d;
}

#myCard .card-img {
  /* border: 1px solid #000; */
  margin-top: -45px;
  width: 350px;
  display: block;
  margin: 0 auto;
}

#myCard .card-img-container {
  /* border: 1px solid #000; */
  margin-top: -175px;
  padding: 0px;
  text-align: center;
  overflow: hidden;
  width: 200px;
  height: 200px;
  border-radius: 50px;
  margin-left: 15px;
}
.card {
  /* float: left; */
  height: 250px;
  /* margin-left: 6%; */
  /* margin-right: 6%; */
}

#myCard {
  margin-top: 100px;

  background: #ffffff;
  border: 3px solid #c0c0c0;
  box-sizing: border-box;
  /* box-shadow: 0px 5px 5px 3px rgba(0, 0, 0, 0.25); */
}

#myCard .icon {
  /* border: 1px solid #000; */
  color: rgb(105, 105, 105);
  font-size: 30px;
}
/* what users think text  */
.users_think {
  margin-left: 47%;
}
.titre {
  color: #8917d4;
  font-weight: bolder;
}
/* img form  */
.img_form {
  float: left;
}
/* formulaire  */
.form-container {
  border: 2px solid transparent;
  padding: 32px 24px;
  font-size: 14px;
  color: rgb(23, 22, 22);
  /*display: flex;*/
  flex-direction: column;
  gap: 20px;
  box-sizing: border-box;
  border-radius: 16px;
  transform: translateY(350px);
  /*transform: translateX(200px);*/
  float: left;
  margin-left: 50%;
  z-index: 1;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.heading {
  font-size: 20px;
  font-weight: 600;
}

.form-input {
  color: black;
  background: transparent;
  border: 2px solid rgb(124, 11, 124);
  width: 350px;
  height: 50px;
  padding: 8px;
  outline: none;
}
.form-group {
  display: flex;
  flex-direction: column;
  gap: 5px;
  color: #41414100;
  position: relative;
}

.form-group label {
  position: absolute;
  top: 0;
  left: 0;
  padding: 5px;
  pointer-events: none;
  transition: 0.5s;
}

.button_1 {
  float: left;
  flex: left;
  margin-right: 110px;
  padding: 17px 40px;
  border-radius: 50px;
  border-color: hsl(261deg 80% 48%);
  margin-left: 7pc;
  cursor: pointer;
  background-color: white;
  box-shadow: rgb(0 0 0 / 5%) 0 0 8px;
  letter-spacing: 1.5px;
  text-transform: uppercase;
  font-size: 15px;
  font-weight: bold;
  transition: all 0.5s ease;
}

.card_title {
  font-family: sans-serif;
  font-size: 400%;
  font-weight: 790;
  color: black;
  float: left;
}

.card_title2 {
  font-family: sans-serif;
  font-size: 400%;
  font-weight: 500;
  color: rgb(128, 8, 197);
}

/* footer */

a {
  color: #fff;
  text-decoration: none;
}
.pg-footer {
  font-family: "Roboto", sans-serif;
}

.footer {
  /* background-color: #004658;
  color: #fff; */
  /* background: #282931; */
  -webkit-font-smoothing: antialiased;
  font-family: "Varela Round", sans-serif;
  height: 100%;
  background: rgb(97, 11, 210);
  background: linear-gradient(
    258deg,
    rgba(97, 11, 210, 1) 3%,
    rgba(123, 38, 201, 1) 100%
  );
}
.footer-wave-svg {
  background-color: transparent;
  display: block;
  height: 30px;
  position: relative;
  top: -1px;
  width: 100%;
}
.footer-wave-path {
  fill: #fffff2;
}

.footer-content {
  margin-left: auto;
  margin-right: auto;
  max-width: 1230px;
  padding: 40px 15px 450px;
  position: relative;
}

.footer-content-column {
  box-sizing: border-box;
  float: left;
  padding-left: 15px;
  padding-right: 15px;
  width: 100%;
  color: #fff;
}

.footer-content-column ul li a {
  color: #fff;
  text-decoration: none;
}
/* !!!! */
.footer-wave-path {
  fill: #fffff2;
}

.footer-logo-link {
  display: inline-block;
}
.footer-menu {
  margin-top: 30px;
}

.footer-menu-name {
  color: #fffff2;
  font-size: 15px;
  font-weight: 900;
  letter-spacing: 0.1em;
  line-height: 18px;
  margin-bottom: 0;
  margin-top: 0;
  text-transform: uppercase;
}
.footer-menu-list {
  list-style: none;
  margin-bottom: 0;
  margin-top: 10px;
  padding-left: 0;
}
.footer-menu-list li {
  margin-top: 5px;
}

.footer-call-to-action-description {
  color: #fffff2;
  margin-top: 10px;
  margin-bottom: 20px;
}
.footer-call-to-action-button:hover {
  background-color: #fffff2;
  color: #9383be;
}
.button:last-of-type {
  margin-right: 0;
}
.footer-call-to-action-button {
  background-color: #05171c;
  border-radius: 21px;
  color: #fffff2;
  display: inline-block;
  font-size: 11px;
  font-weight: 900;
  letter-spacing: 0.1em;
  line-height: 18px;
  padding: 12px 30px;
  margin: 0 10px 10px 0;
  text-decoration: none;
  text-transform: uppercase;
  transition: background-color 0.2s;
  cursor: pointer;
  position: relative;
}
.footer-call-to-action {
  margin-top: 30px;
}
.footer-call-to-action-title {
  color: #fffff2;
  font-size: 14px;
  font-weight: 900;
  letter-spacing: 0.1em;
  line-height: 18px;
  margin-bottom: 0;
  margin-top: 0;
  text-transform: uppercase;
}
.footer-call-to-action-link-wrapper {
  margin-bottom: 0;
  margin-top: 10px;
  color: #fff;
  text-decoration: none;
}
.footer-call-to-action-link-wrapper a {
  color: #ffffff;
  text-decoration: none;
}

.footer-social-links {
  bottom: 0;
  height: 54px;
  position: absolute;
  right: 0;
  width: 236px;
}

.footer-social-amoeba-svg {
  height: 54px;
  left: 0;
  display: block;
  position: absolute;
  top: 0;
  width: 236px;
}

.footer-social-amoeba-path {
  fill: #12b6dffb;
}

.footer-social-link.linkedin {
  height: 26px;
  left: 3px;
  top: 11px;
  width: 26px;
}

.footer-social-link {
  display: block;
  padding: 10px;
  position: absolute;
}

.hidden-link-text {
  position: absolute;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
  -webkit-clip-path: inset(0px 0px 99.9% 99.9%);
  clip-path: inset(0px 0px 99.9% 99.9%);
  overflow: hidden;
  height: 1px;
  width: 1px;
  padding: 0;
  border: 0;
  top: 50%;
}

.footer-social-icon-svg {
  display: block;
}

.footer-social-icon-path {
  fill: #fffff2;
  transition: fill 0.2s;
}

.footer-social-link.twitter {
  height: 28px;
  left: 62px;
  top: 3px;
  width: 28px;
}

.footer-social-link.youtube {
  height: 24px;
  left: 123px;
  top: 12px;
  width: 24px;
}

.footer-social-link.github {
  height: 34px;
  left: 172px;
  top: 7px;
  width: 34px;
}

/* Media Query For different screens */
@media (min-width: 320px) and (max-width: 479px) {
  /* smartphones, portrait iPhone, portrait 480x320 phones (Android) */
  .footer-content {
    margin-left: auto;
    margin-right: auto;
    max-width: 1230px;
    padding: 40px 15px 1050px;
    position: relative;
  }
}
@media (min-width: 480px) and (max-width: 599px) {
  /* smartphones, Android phones, landscape iPhone */
  .footer-content {
    margin-left: auto;
    margin-right: auto;
    max-width: 1230px;
    padding: 40px 15px 1050px;
    position: relative;
  }
}
@media (min-width: 600px) and (max-width: 800px) {
  /* portrait tablets, portrait iPad, e-readers (Nook/Kindle), landscape 800x480 phones (Android) */
  .footer-content {
    margin-left: auto;
    margin-right: auto;
    max-width: 1230px;
    padding: 40px 15px 1050px;
    position: relative;
  }
}
@media (min-width: 801px) {
  /* tablet, landscape iPad, lo-res laptops ands desktops */
}
@media (min-width: 1025px) {
  /* big landscape tablets, laptops, and desktops */
}
@media (min-width: 1281px) {
  /* hi-res laptops and desktops */
}

@media (min-width: 760px) {
  .footer-content {
    margin-left: auto;
    margin-right: auto;
    max-width: 1230px;
    padding: 40px 15px 450px;
    position: relative;
  }

  .footer-wave-svg {
    height: 50px;
  }

  .footer-content-column {
    width: 24.99%;
  }
}
@media (min-width: 568px) {
  /* .footer-content-column {
      width: 49.99%;
  } */
}

/* jdiiid icons */

.card1 {
  display: flex;
  height: 70px;
  width: 350px;
}

.card1 svg {
  position: absolute;
  display: flex;
  width: 60%;
  height: 100%;
  font-size: 24px;
  font-weight: 700;
  opacity: 1;
  transition: opacity 0.25s;
  z-index: 2;
  padding: 0.25rem;
  cursor: pointer;
}

.card1 .social-link1,
.card1 .social-link2,
.card1 .social-link3,
.card1 .social-link4,
.card1 .social-link5 {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 25%;
  color: whitesmoke;
  font-size: 24px;
  text-decoration: none;
  transition: 0.25s;
  border-radius: 50px;
}

.card1 svg {
  transform: scale(1);
}

.card1 .social-link1:hover {
  background: #f09433;
  background: -moz-linear-gradient(
    45deg,
    #f09433 0%,
    #e6683c 25%,
    #dc2743 50%,
    #cc2366 75%,
    #bc1888 100%
  );
  background: -webkit-linear-gradient(
    45deg,
    #f09433 0%,
    #e6683c 25%,
    #dc2743 50%,
    #cc2366 75%,
    #bc1888 100%
  );
  background: linear-gradient(
    45deg,
    #f09433 0%,
    #e6683c 25%,
    #dc2743 50%,
    #cc2366 75%,
    #bc1888 100%
  );
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f09433', endColorstr='#bc1888',GradientType=1 );
  animation: bounce_613 0.4s linear;
}

.card1 .social-link2:hover {
  background-color: #242c34;
  animation: bounce_613 0.4s linear;
}

.card1 .social-link3:hover {
  background-color: #5865f2;
  animation: bounce_613 0.4s linear;
}

.card1 .social-link4:hover {
  background-color: #0a66c2;
  animation: bounce_613 0.4s linear;
}

.card1 .social-link5:hover {
  background-color: #ff8000;
  animation: bounce_613 0.4s linear;
}

@keyframes bounce_613 {
  40% {
    transform: scale(1.4);
  }

  60% {
    transform: scale(0.8);
  }

  80% {
    transform: scale(1.2);
  }

  100% {
    transform: scale(1);
  }
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
}

.container {
  display: flex;
  height: 50vh;
}

.section {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  overflow: hidden;
  background-size: cover;
  background-position: center;
  color: #fff;
  transition: flex 0.4s ease;
  position: relative;
}

.section .overlay {
  background-color: rgba(0, 0, 0, 0.7);
  width: 100%;
  height: 100%;
  position: absolute;
  transition: background-color 0.8s ease;
}

.section .content {
  z-index: 2;
}

.section:hover {
  flex: 2;
}

.section:hover .overlay {
  background-color: rgba(0, 0, 0, 0.95);
}

#technology {
  background-image: url(https://www.wise.live/blog/wp-content/uploads/2022/12/pexels-thisisengineering-3862153.jpg);
}

#advertising {
  background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSwoeHnWvdBaYtP3C8q0GpiT4LjYMR9-XeBzqLrm6FcfQ&s);
}

#recrut {
  background-image: url(https://j4s.fr/wp-content/uploads/2022/06/pexels-sora-shimazaki-5673488-1024x683.jpg
  );
}