<!DOCTYPE html>
<!-- Coding by CodingLab | www.codinglabweb.com -->
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <!----======== CSS ======== -->
    <!-- <link rel="stylesheet" href="style.css" /> -->

    <!----===== Boxicons CSS ===== -->
    <link
      href="https://unpkg.com/boxicons@2.1.1/css/boxicons.min.css"
      rel="stylesheet"
    />

    <link rel="stylesheet" href="resources/css/dashboard.css" />

    <!--<title>Dashboard Sidebar Menu</title>-->
  </head>
  <body>
    <nav class="sidebar close">
      <header>
        <div class="image-text">
          <span class="image">
            <img src="resources/img/wisdomwave.png" alt="" />
          </span>

          <div class="text logo-text">
            <span class="name">wisdom Wave</span>
            <span class="profession">Dashboard</span>
          </div>
        </div>

        <i class="bx bx-chevron-right toggle"></i>
      </header>

      <div class="menu-bar">
        <div class="menu">
          <li class="search-box">
            <i class="bx bx-search icon"></i>
            <input type="text" placeholder="Search..." />
          </li>

          <ul class="menu-links">
            <li class="nav-link">
              <a href="#">
                <i class="bx bx-home-alt icon"></i>
                <span class="text nav-text">Dashboard</span>
              </a>
            </li>

            <li class="nav-link">
              <a href="listUtilisateurs.php">
                <i class="bx bx-bar-chart-alt-2 icon"></i>
                <span class="text nav-text">Gestion Utilisateur</span>
              </a>
            </li>

            <li class="nav-link">
              <a href="listcours.php">
                <i class="bx bx-bell icon"></i>
                <span class="text nav-text">Gestion Cours</span>
              </a>
            </li>

            <li class="nav-link">
              <a href="listexamen.php">
                <i class="bx bx-pie-chart-alt icon"></i>
                <span class="text nav-text">Gestion Examen</span>
              </a>
            </li>

            <li class="nav-link">
              <a href="ListRecrut.php">
                <i class="bx bx-heart icon"></i>
                <span class="text nav-text">Gestion Recrut</span>
              </a>
            </li>

            <li class="nav-link">
              <a href="#">
                <i class="bx bx-wallet icon"></i>
                <span class="text nav-text">Gestion Achats</span>
              </a>
            </li>
          </ul>
        </div>

        <div class="bottom-content">
          <li class="">
            <a href="#">
              <i class="bx bx-log-out icon"></i>
              <span class="text nav-text">Logout</span>
            </a>
          </li>

          <li class="mode">
            <div class="sun-moon">
              <i class="bx bx-moon icon moon"></i>
              <i class="bx bx-sun icon sun"></i>
            </div>
            <span class="mode-text text">Dark mode</span>

            <div class="toggle-switch">
              <span class="switch"></span>
            </div>
          </li>
        </div>
      </div>
    </nav>

    <section class="home">
      <div class="text">Dashboard home page</div>
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.1/css/all.min.css" integrity="sha256-mmgLkCYLUQbXn0B1SRqzHar6dCnv9oZFPEC1g1cwlkk=" crossorigin="anonymous" />

<div class="container">
    <div class="row ">
        <div class="col-xl-6 col-lg-6">
            <div class="card l-bg-cherry">
                <div class="card-statistic-3 p-4">
                    <div class="card-icon card-icon-large"><i class="fas fa-shopping-cart"></i></div>
                    <div class="mb-4">
                        <h5 class="card-title mb-0">New Orders</h5>
                    </div>
                    <div class="row align-items-right mb-2 d-flex">
                        <div class="col-8">
                            <h2 class="d-flex align-items-right mb-0">
                                3,243
                            </h2>
                        </div>
                        <div class="col-4 text-right">
                            <span>12.5% <i class="fa fa-arrow-up"></i></span>
                        </div>
                    </div>
                    <div class="progress mt-1 " data-height="8" style="height: 8px;">
                        <div class="progress-bar l-bg-cyan" role="progressbar" data-width="25%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100" style="width: 25%;"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xl-6 col-lg-6">
            <div class="card l-bg-blue-dark">
                <div class="card-statistic-3 p-4">
                    <div class="card-icon card-icon-large"><i class="fas fa-users"></i></div>
                    <div class="mb-4">
                        <h5 class="card-title mb-0">Customers</h5>
                    </div>
                    <div class="row align-items-center mb-2 d-flex">
                        <div class="col-8">
                            <h2 class="d-flex align-items-center mb-0">
                                15.07k
                            </h2>
                        </div>
                        <div class="col-4 text-right">
                            <span>9.23% <i class="fa fa-arrow-up"></i></span>
                        </div>
                    </div>
                    <div class="progress mt-1 " data-height="8" style="height: 8px;">
                        <div class="progress-bar l-bg-green" role="progressbar" data-width="25%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100" style="width: 25%;"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xl-6 col-lg-6">
          <div class="card l-bg-cherry">
              <div class="card-statistic-3 p-4">
                  <div class="card-icon card-icon-large"><i class="fas fa-shopping-cart"></i></div>
                  <div class="mb-4">
                      <h5 class="card-title mb-0">New Orders</h5>
                  </div>
                  <div class="row align-items-center mb-2 d-flex">
                      <div class="col-8">
                          <h2 class="d-flex align-items-center mb-0">
                              3,243
                          </h2>
                      </div>
                      <div class="col-4 text-right">
                          <span>12.5% <i class="fa fa-arrow-up"></i></span>
                      </div>
                  </div>
                  <div class="progress mt-1 " data-height="8" style="height: 8px;">
                      <div class="progress-bar l-bg-cyan" role="progressbar" data-width="25%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100" style="width: 25%;"></div>
                  </div>
              </div>
          </div>
      </div>
        <div class="col-xl-6 col-lg-6">
            <div class="card l-bg-green-dark">
                <div class="card-statistic-3 p-4">
                    <div class="card-icon card-icon-large"><i class="fas fa-ticket-alt"></i></div>
                    <div class="mb-4">
                        <h5 class="card-title mb-0">Ticket Resolved</h5>
                    </div>
                    <div class="row align-items-center mb-2 d-flex">
                        <div class="col-8">
                            <h2 class="d-flex align-items-center mb-0">
                                578
                            </h2>
                        </div>
                        <div class="col-4 text-right">
                            <span>10% <i class="fa fa-arrow-up"></i></span>
                        </div>
                    </div>
                    <div class="progress mt-1 " data-height="8" style="height: 8px;">
                        <div class="progress-bar l-bg-orange" role="progressbar" data-width="25%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100" style="width: 25%;"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xl-6 col-lg-6">
          <div class="card l-bg-cherry">
              <div class="card-statistic-3 p-4">
                  <div class="card-icon card-icon-large"><i class="fas fa-shopping-cart"></i></div>
                  <div class="mb-4">
                      <h5 class="card-title mb-0">New Orders</h5>
                  </div>
                  <div class="row align-items-center mb-2 d-flex">
                      <div class="col-8">
                          <h2 class="d-flex align-items-center mb-0">
                              3,243
                          </h2>
                      </div>
                      <div class="col-4 text-right">
                          <span>12.5% <i class="fa fa-arrow-up"></i></span>
                      </div>
                  </div>
                  <div class="progress mt-1 " data-height="8" style="height: 8px;">
                      <div class="progress-bar l-bg-cyan" role="progressbar" data-width="25%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100" style="width: 25%;"></div>
                  </div>
              </div>
          </div>
      </div>
        <div class="col-xl-6 col-lg-6">
            <div class="card l-bg-orange-dark">
                <div class="card-statistic-3 p-4">
                    <div class="card-icon card-icon-large"><i class="fas fa-dollar-sign"></i></div>
                    <div class="mb-4">
                        <h5 class="card-title mb-0">Revenue Today</h5>
                    </div>
                    <div class="row align-items-center mb-2 d-flex">
                        <div class="col-8">
                            <h2 class="d-flex align-items-center mb-0">
                                $11.61k
                            </h2>
                        </div>
                        <div class="col-4 text-right">
                            <span>2.5% <i class="fa fa-arrow-up"></i></span>
                        </div>
                    </div>
                    <div class="progress mt-1 " data-height="8" style="height: 8px;">
                        <div class="progress-bar l-bg-cyan" role="progressbar" data-width="25%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100" style="width: 25%;"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- stat-->
  <div class="card1">
  	<div class="header">
			<span class="title big">Weekly report</span>
			<span class="date small">01. Feb - 07. Feb</span>
			<span class="type small">Revenue</span>
			<span class="value">3621.79</span>
		</div>
		<div class="clearfix"></div>
		<div class="parameter">
			<span class="red">Views</span>
			<span class="blue">Purchases</span>
		</div>
		<div class="statistic">
			<div class="line-1"></div>
			<div class="line-2"></div>
			<div class="line-3"></div>
			<div class="data red">
				<svg>
					<polyline points="9,46 50,12 90,23 130,11 171,38 211,48 251,19"></polyline>    
				</svg>
				<div class="points">
					<div class="point-1">
						<div class="tooltip">458</div>
					</div>
					<div class="point-2">
						<div class="tooltip">812</div>
					</div>
					<div class="point-3">
						<div class="tooltip">746</div>
					</div>
					<div class="point-4">
						<div class="tooltip">877</div>
					</div>
					<div class="point-5">
						<div class="tooltip">517</div>
					</div>
					<div class="point-6">
						<div class="tooltip">434</div>
					</div>
					<div class="point-7">
						<div class="tooltip">458</div>
					</div>
				</div>
			</div>
			<div class="data blue">
				<svg>
					<polyline points="9,61 50,50 90,65 130,55 171,61 211,74 251,64"></polyline>    
				</svg>
				<div class="points">
					<div class="point-1">
						<div class="tooltip">26</div>
					</div>
					<div class="point-2">
						<div class="tooltip">41</div>
					</div>
					<div class="point-3">
						<div class="tooltip">22</div>
					</div>
					<div class="point-4">
						<div class="tooltip">36</div>
					</div>
					<div class="point-5">
						<div class="tooltip">25</div>
					</div>
					<div class="point-6">
						<div class="tooltip">13</div>
					</div>
					<div class="point-7">
						<div class="tooltip">20</div>
					</div>
				</div>
			</div>
		</div>
		<div class="days">
			<span class="day">Mon</span>
			<span class="day">Tue</span>
			<span class="day">Wed</span>
			<span class="day">Thu</span>
			<span class="day">Fri</span>
			<span class="day">Sat</span>
			<span class="day">Sun</span>
		</div>
  </div>
  
  <svg class='container1' width="529px" height="286px" viewBox="30 27 529 286" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
      <!-- Generator: Sketch 3.8.3 (29802) - http://www.bohemiancoding.com/sketch -->
      <defs></defs>
      <g id="graph-copy" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd" transform="translate(30.000000, 27.000000)">
          <g id="y_axis" font-size="11.0833333" font-family=".HelveticaNeueDeskInterface-Regular, .Helvetica Neue DeskInterface" fill="#FFFFFF" opacity="0.4" font-weight="normal">
              <text id="0">
                  <tspan x="25.3008249" y="264.333333">0</tspan>
              </text>
              <text id="200">
                  <tspan x="12.7757572" y="232.666667">200</tspan>
              </text>
              <text id="400">
                  <tspan x="12.7757572" y="201">400</tspan>
              </text>
              <text id="600">
                  <tspan x="12.7757572" y="169.333333">600</tspan>
              </text>
              <text id="800">
                  <tspan x="12.7757572" y="137.666667">800</tspan>
              </text>
              <text id="1000">
                  <tspan x="6.51322328" y="106">1000</tspan>
              </text>
              <text id="1200">
                  <tspan x="6.51322328" y="74.3333333">1200</tspan>
              </text>
              <text id="1400">
                  <tspan x="6.51322328" y="42.6666667">1400</tspan>
              </text>
              <text id="1600">
                  <tspan x="6.51322328" y="11">1600</tspan>
              </text>
          </g>
          <g id="GRAPHS" transform="translate(64.000000, 16.000000)" stroke-linecap="round" stroke-width="8" stroke-linejoin="round">
              <polyline id="Banks" stroke="#5BCAC1" points="0 1 88.0438662 1 128.985782 137 180.170616 137 224.189573 182 256.947867 91 301.990521 137 346.009479 91 392.087202 91 429.952607 179"></polyline>
              <polyline id="Bridge" stroke="#81DEFF" points="2.04739336 183 54.2559242 227 96.2274882 47 133.080569 1 302.018438 1 346.680361 44.6280822 386.957346 0 427.905213 43"></polyline>
              <polyline id="PayPal" stroke="#F6F5A6" points="2.04739336 180 53.273159 180 99.2985782 91 137.175355 47 219.077488 47 256.947867 90 301.990521 47 349.080569 137 398.228672 137 432 91"></polyline>
          </g>
          <g id="x_axis" transform="translate(71.974046, 271.541667)" font-size="11.0833333" font-family=".HelveticaNeueDeskInterface-Regular, .Helvetica Neue DeskInterface" fill="#FFFFFF" opacity="0.4" font-weight="normal">
              <text id="1">
                  <tspan x="0.396183206" y="11">1</tspan>
              </text>
              <text id="2">
                  <tspan x="39.2603361" y="11">2</tspan>
              </text>
              <text id="3">
                  <tspan x="78.8786567" y="11">3</tspan>
              </text>
              <text id="4">
                  <tspan x="118.496977" y="11">4</tspan>
              </text>
              <text id="5">
                  <tspan x="158.115298" y="11">5</tspan>
              </text>
              <text id="6">
                  <tspan x="197.733619" y="11">6</tspan>
              </text>
              <text id="7">
                  <tspan x="237.351939" y="11">7</tspan>
              </text>
              <text id="8">
                  <tspan x="276.97026" y="11">8</tspan>
              </text>
              <text id="9">
                  <tspan x="316.58858" y="11">9</tspan>
              </text>
              <text id="10">
                  <tspan x="359.229833" y="11">10</tspan>
              </text>
              <text id="11">
                  <tspan x="400.036703" y="11">11</tspan>
              </text>
              <text id="12">
                  <tspan x="438.466474" y="11">12</tspan>
              </text>
          </g>
          <g id="grid" transform="translate(46.618321, 4.750000)" stroke="#FFFFFF" stroke-linecap="square" opacity="0.0800000057">
              <path d="M0.396183206,1.1875 L478.991396,1.1875" id="Line"></path>
              <path d="M0.396183206,32.8541667 L478.991396,32.8541667" id="Line"></path>
              <path d="M0.396183206,64.5208333 L478.991396,64.5208333" id="Line"></path>
              <path d="M0.396183206,96.1875 L478.991396,96.1875" id="Line"></path>
              <path d="M0.396183206,127.854167 L478.991396,127.854167" id="Line"></path>
              <path d="M0.396183206,159.520833 L478.991396,159.520833" id="Line"></path>
              <path d="M0.396183206,191.1875 L478.991396,191.1875" id="Line"></path>
              <path d="M0.396183206,222.854167 L478.991396,222.854167" id="Line"></path>
              <path d="M0.396183206,254.520833 L478.991396,254.520833" id="Line"></path>
          </g>
      </g>
  </svg>
      
    </section>

    <script>
      const body = document.querySelector("body"),
        sidebar = body.querySelector("nav"),
        toggle = body.querySelector(".toggle"),
        searchBtn = body.querySelector(".search-box"),
        modeSwitch = body.querySelector(".toggle-switch"),
        modeText = body.querySelector(".mode-text");

      toggle.addEventListener("click", () => {
        sidebar.classList.toggle("close");
      });

      searchBtn.addEventListener("click", () => {
        sidebar.classList.remove("close");
      });

      modeSwitch.addEventListener("click", () => {
        body.classList.toggle("dark");

        if (body.classList.contains("dark")) {
          modeText.innerText = "Light mode";
        } else {
          modeText.innerText = "Dark mode";
        }
      });
    </script>
  </body>
</html>
