<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="resources/css/joinus.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Anton&display=swap"
      rel="stylesheet"
    />
    <title>home join us</title>
  </head>
  <body>
    <div class="container">
      <header class="header-outer">
        <div class="header-inner responsive-wrapper">
          <div class="header-logo">
            <img src="resources/img/wisdomwave.png" />
          </div>
          <nav class="header-navigation">
            <a href="index.html">Home</a>
            <a href="#">About</a>
            <a href="#">Courses</a>
            <a href="#">Blog</a>
          </nav>
          <a href="adminlogin.html">
            <button class="btn">Admin</button>
          </a>
        </div>
      </header>

      <section class="login_img">
        <div class="container_outer_img">
          <div class="img-inner">
            <img
              src="resources/img/student_space.png"
              alt=""
              class="container_img"
            />
          </div>
        </div>
        <!-- <img
          src="resources/img/student_space.png"
          alt=""
          height="800"
          width="800"
        /> -->
      </section>

      <section class="form_buttons">
        <div class="multi-button">
          <button onclick="window.location.href='eleve.html'">
            Student space
          </button>
          <button onclick="window.location.href='enseignant.html'">
            Teacher space
          </button>
        </div>
        <div class="main">
          <input type="checkbox" id="chk" aria-hidden="true" />
          <div class="login">
            <form class="form" action="login0.php" method="post">
              <label for="chk" aria-hidden="true">Log in</label>
              <input
                class="input"
                type="email"
                name="email"
                placeholder="Email"
                required=""
              />
              <input
                class="input"
                type="password"
                name="pswd"
                placeholder="Password"
                required=""
              />
              <button>Log in</button>
            </form>
          </div>
          <div class="register">
            <form class="form">
              <label for="chk" aria-hidden="true">Register</label>
              <input
                class="input"
                type="text"
                name="txt"
                placeholder="Username"
                required=""
              />
              <input
                class="input"
                type="email"
                name="email"
                placeholder="Email"
                required=""
              />
              <input
                class="input"
                type="password"
                name="pswd"
                placeholder="Password"
                required=""
              />
              <button>Register</button>
            </form>
          </div>
        </div>
      </section>
    </div>
    <div class="overlay"></div>
  </body>
</html>
