<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="resources/css/main.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Anton&display=swap"
      rel="stylesheet"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
      rel="stylesheet"
    />

    <link href="assets/img/favicon.png" rel="icon" />
    <link href="assets/img/apple-touch-icon.png" rel="apple-touch-icon" />

    <!-- Google Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,600;1,700&family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Inter:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap"
      rel="stylesheet"
    />

    <!-- Vendor CSS Files -->
    <link
      href="assets/vendor/bootstrap/css/bootstrap.min.css"
      rel="stylesheet"
    />
    <link
      href="assets/vendor/bootstrap-icons/bootstrap-icons.css"
      rel="stylesheet"
    />
    <link
      href="assets/vendor/fontawesome-free/css/all.min.css"
      rel="stylesheet"
    />
    <link
      href="assets/vendor/glightbox/css/glightbox.min.css"
      rel="stylesheet"
    />
    <link href="assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet" />
    <link href="assets/vendor/aos/aos.css" rel="stylesheet" />
    <link rel="stylesheet" href="./resources/css/espace_enseignant.css" />

    <title>home page</title>
  </head>
  <body>
    <!-- Sticky header -->
    <header class="header-outer">
      <div class="header-inner responsive-wrapper">
        <div class="header-logo">
          <img src="resources/img/wisdomwave.png" />
        </div>
        <nav class="header-navigation">
          <a href="#">Browse</a>
          <a href="#">Exam</a>
          <a href="#">Courses</a>
        </nav>
        <a href="index.html">
          <button>Log Out</button>
        </a>
      </div>
    </header>

    <div class="container">
      <div class="title_wrapper">
        <h1>Welcome</h1>
        <h2>Teacher</h2>
      </div>
    </div>
    <!-- courses header -->
    <center>
      <h1 class="line">ADD Courses</h1>
    </center>

    <div class="container second">
      <div class="item">
        <div class="img img-first"></div>
        <div class="card">
          <h3>Complete Data Science Bootcamp 2024</h3>
          <p>
            Learn Data Science step by step through real Analytics examples
          </p>
          <a href="#">Learn more</a>
        </div>
      </div>
      <div class="item">
        <div class="img img-second"></div>
        <div class="card">
          <h3>Introduction to Computer Networks</h3>
          <p>
            Learn the Fundamentals of Computer Networking 
          </p>
          <a href="#">Learn more</a>
        </div>
      </div>
      <div class="item">
        <div class="img img-third"></div>
        <div class="card">
          <h3>The Ultimate MySQL Bootcamp</h3>
          <p>
            Master SQL, Work With Complex Databases
          </p>
          <a href="#">Learn more</a>
        </div>
      </div>
    </div>


  </body>
  
</html>