<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Logged in with Facebook</title>
    <script>
      window.fbAsyncInit = function() {
        FB.init({
          appId      : '1592319938197902', // Utilisez votre App ID de Facebook
          cookie     : true,
          xfbml      : true,
          version    : 'v9.0'
        });
        FB.AppEvents.logPageView();
        
        FB.getLoginStatus(function(response) {
          if (response.status === 'connected') {
            fetchUserData();
          } else {
            console.log('User not authenticated');
            // Optionnellement, redirigez les utilisateurs non connectés
            window.location.href = 'adminlogin.html';
          }
        });
      };

      function fetchUserData() {
        FB.api('/me', {fields: 'name,email'}, function(response) {
          document.getElementById('username').innerText = response.name;
          document.getElementById('email').innerText = response.email;
        });
      }

      (function(d, s, id){
         var js, fjs = d.getElementsByTagName(s)[0];
         if (d.getElementById(id)) { return; }
         js = d.createElement(s); js.id = id;
         js.src = "https://connect.facebook.net/en_US/sdk.js";
         fjs.parentNode.insertBefore(js, fjs);
       }(document, 'script', 'facebook-jssdk'));
    </script>
</head>
<body>
    <h1>Welcome to the Dashboard</h1>
    <p>Hello, <span id="username"></span>!</p>
    <p>Your email is: <span id="email"></span></p>
</body>
</html>
