<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="resources/css/main.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Anton&display=swap"
      rel="stylesheet"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="assets/img/favicon.png" rel="icon" />
    <link href="assets/img/apple-touch-icon.png" rel="apple-touch-icon" />

    <!-- Google Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,600;1,700&family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Inter:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap"
      rel="stylesheet"
    />

    <!-- Vendor CSS Files -->
    <link
      href="assets/vendor/bootstrap/css/bootstrap.min.css"
      rel="stylesheet"
    />
    <link
      href="assets/vendor/bootstrap-icons/bootstrap-icons.css"
      rel="stylesheet"
    />
    <link
      href="assets/vendor/fontawesome-free/css/all.min.css"
      rel="stylesheet"
    />
    <link
      href="assets/vendor/glightbox/css/glightbox.min.css"
      rel="stylesheet"
    />
    <link href="assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet" />
    <link href="assets/vendor/aos/aos.css" rel="stylesheet" />

    <title>home page</title>
  </head>
  <body>
    <!-- Sticky header -->
    <header class="header-outer">
      <div class="header-inner responsive-wrapper">
        <div class="header-logo">
          <img src="resources/img/wisdomwave.png" />
        </div>
        <nav class="header-navigation">
          <a href="#">Home</a>
          <a href="#">About</a>
          <a href="#">Courses</a>
          <a href="#">Blog</a>
        </nav>
        <a href="eleve.html">
          <button href="eleve.html">Join Us</button>
        </a>
      </div>
    </header>

    <main class="main">
      <img class="welcome-img" src="resources/img/welcome.png" alt="" />
      <article class="widget1">
        <table align="center">
          <tr>
            <td>
              <div class="card">
                <div class="card-content">
                  <h1>+150 students</h1>
                </div>
              </div>
            </td>
            <td>
              <div class="card">
                <div class="card-content">
                  <h1>+180 Courses</h1>
                </div>
              </div>
            </td>
            <td>
              <div class="card">
                <div class="card-content">
                  <h1>+350 Certificats</h1>
                </div>
              </div>
            </td>
          </tr>
        </table>
      </article>
    </main>

    <header class="mainHeading">
      <div class="mainHeading__content">
        <article class="mainHeading__text">
          <h1 class="card_title">About</h1>
          <h2 class="card_title2">us.</h2>
          <!-- <br /> -->
          <!-- <h2 class="mainHeading__title">ABOUT US</h2> -->
          <p class="mainHeading__description">
            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Voluptates
            aperiam quidem minus modi sed quae aspernatur. Laudantium esse
            cupiditate libero, perferendis obcaecati doloremque voluptatem
            recusandae qui? Ea dolorem unde possimus!
          </p>
          <button class="cta">know more</button>
        </article>

        <figure class="mainHeading__image">
          <img src="resources/img/feufeyb.png" alt="" />
        </figure>
      </div>
    </header>
    <header class="mainHeading_2">
      <div class="mainHeading_2__content">
        <article class="mainHeading_2__text">
          <h1 class="card_title">About</h1>
          <h2 class="card_title2">us.</h2>
          <!-- <br /> -->
          <!-- <h2 class="mainHeading_2__title">WHY US</h2> -->
          <p class="mainHeading_2__description">
            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Voluptates
            aperiam quidem minus modi sed quae aspernatur. Laudantium esse
            cupiditate libero, perferendis obcaecati doloremque voluptatem
            recusandae qui? Ea dolorem unde possimus!
          </p>
          <button class="cta">know more</button>
        </article>

        <figure class="mainHeading_2__image">
          <img src="resources/img/2ZDHZUD.png" alt="" />
        </figure>
      </div>
    </header>
    <div class="users_think">
      <!-- <h1 class="titre">What</h1>
      <h2>Users think</h2> -->
      <h1 align="center" class="card_title">what</h1>
      <br />
      <h2 align="left" class="card_title2">users think.</h2>
      <br />
      <br />
    </div>
    <div class="container-fluid border py-5">
      <div class="row justify-content-center py-5">
        <div class="col-sm-6 border">
          <div class="card mx-auto" style="width: 300px" id="myCard">
            <div class="card-img-container rounded-circle mx-auto">
              <img class="card-img" src="resources/img/anas.jpg" />
            </div>

            <div class="card-body text-center">
              <h3 class="title">Mr. Taken Mario</h3>
              <p class="subtitle">Director</p>
              <p class="text">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                eiusmod tempor
              </p>
              <div class="my-4">
                <a class="mx-1" href=""
                  ><span class="icon fab fa-facebook"></span
                ></a>
                <a class="mx-1" href=""
                  ><span class="icon fab fa-linkedin-in"></span
                ></a>
                <a class="mx-1" href=""
                  ><span class="icon fab fa-twitter"></span
                ></a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="container-fluid border py-5">
      <div class="row justify-content-center py-5">
        <div class="col-sm-6 border">
          <div class="card mx-auto" style="width: 300px" id="myCard">
            <div class="card-img-container rounded-circle mx-auto">
              <img class="card-img" src="resources/img/y.j.jpg" />
            </div>

            <div class="card-body text-center">
              <h3 class="title">Mr. Taken Mario</h3>
              <p class="subtitle">Director</p>
              <p class="text">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                eiusmod tempor
              </p>
              <div class="my-4">
                <a class="mx-1" href=""
                  ><span class="icon fab fa-facebook"></span
                ></a>
                <a class="mx-1" href=""
                  ><span class="icon fab fa-linkedin-in"></span
                ></a>
                <a class="mx-1" href=""
                  ><span class="icon fab fa-twitter"></span
                ></a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="container-fluid border py-5">
      <div class="row justify-content-center py-5">
        <div class="col-sm-6 border">
          <div class="card mx-auto" style="width: 300px" id="myCard">
            <div class="card-img-container rounded-circle mx-auto">
              <img class="card-img" src="resources/img/nadou.jpg" />
            </div>

            <div class="card-body text-center">
              <h3 class="title">Mr. Taken Mario</h3>
              <p class="subtitle">Director</p>
              <p class="text">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                eiusmod tempor
              </p>
              <div class="my-4">
                <a class="mx-1" href=""
                  ><span class="icon fab fa-facebook"></span
                ></a>
                <a class="mx-1" href=""
                  ><span class="icon fab fa-linkedin-in"></span
                ></a>
                <a class="mx-1" href=""
                  ><span class="icon fab fa-twitter"></span
                ></a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div>
      <img
        class="img_form"
        src="resources/img/3eebhf.png"
        height="950"
        width="850"
      />
    </div>
    <div class="form-container">
      <form class="form">
        <span class="heading">Registration Form</span>

        <div class="form-group">
          <input
            placeholder="Email"
            class="form-input"
            required=""
            type="email"
          />
          <label>Email</label>
        </div>

        <div class="form-group">
          <input
            placeholder="password"
            class="form-input"
            required=""
            type="password"
          />
          <label>Password</label>
        </div>

        <button class="button_1">SUBMIT</button>
      </form>
    </div>

    <script src="index.js"></script>
  </body>
</html>
