.u-section-1 {
    background-image: none;
  }
  
  .u-section-1 .u-sheet-1 {
    min-height: 618px;
  }
  
  .u-section-1 .u-video-1 {
    height: 360px;
    width: 640px;
    margin: 64px auto 0;
  }
  
  .u-section-1 .embed-responsive-1 {
    position: absolute;
    width: 100%;
    left: 0;
    height: 100%;
    top: 0;
  }
  
  .u-section-1 .u-text-1 {
    font-family: Poppins;
    font-weight: 800;
    margin: 30px auto 0;
  }
  
  .u-section-1 .u-text-2 {
    font-family: Poppins;
    font-weight: 500;
    width: 680px;
    margin: 0 auto 60px;
  }
  
  @media (max-width: 767px) {
    .u-section-1 .u-sheet-1 {
      min-height: 562px;
    }
  
    .u-section-1 .u-video-1 {
      height: 304px;
      width: 540px;
    }
  
    .u-section-1 .u-text-2 {
      width: 540px;
    }
  }
  
  @media (max-width: 575px) {
    .u-section-1 .u-sheet-1 {
      min-height: 449px;
    }
  
    .u-section-1 .u-video-1 {
      height: 191px;
      width: 340px;
    }
  
    .u-section-1 .u-text-2 {
      width: 340px;
    }
  }